@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Josefin+Sans&family=Libre+Baskerville&family=Lobster&family=Mouse+Memoirs&family=Poppins:ital@1&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  height: 0.3em;
  width: 0.3em;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #0762ff;
  border-radius: 1em;
  height: 0.3em;
  width: 0.3em;
}

@layer components {
  @variants responsive {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
  }
}

/* Table border styles */
